.toolbar-controls-box-font-size-btn {
  min-width: 100px;
  background-color: #ffffff00;
  color: #868686;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: left;
}
.toolbar-controls-box-font-size {
  position: relative;
  display: inline-block;
}
.toolbar-controls-box-font-size-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 200px;
  overflow-y: auto;
  position: absolute;
  font-size: 18px;
  background-color: #444343;
  color: aliceblue;
  border: 1px solid #fff;
  box-shadow: 0px 0px 1px 1px #444343;
  border-radius: 5px;
  padding: 4px;
  z-index: 1;
}

.toolbar-controls-box-font-size-content span {
  text-decoration: none;
  display: block;
}
.toolbar-controls-box-font-size-content span:hover {
  border-radius: 5px;
  color: #444343;
  background-color: aliceblue;
  border: 1px solid rgb(77, 76, 76);
  box-shadow: 0px 0px 1px 1px #d1cfcf;
}
