.toolbar-controls-box-headers-btn {
  background-color: #ffffff00;
  color: #868686;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-right: 12px;
}
.toolbar-controls-box-headers {
  position: relative;
  display: inline-block;
}
.toolbar-controls-box-headers-content {
  min-width: 120px;
  display: block;
  position: absolute;
  font-size: 16px;
  background-color: #444343;
  color: aliceblue;
  border: 1px solid #fff;
  box-shadow: 0px 0px 1px 1px #444343;
  padding: 4px;
  border-radius: 5px;
  z-index: 1;
}
.toolbar-controls-box-headers-content span {
  display: block;
  width: 100px;
  cursor: pointer;
}
.toolbar-controls-box-headers-content span:hover {
  border-radius: 5px;
  color: #444343;
  background-color: aliceblue;
  border: 1px solid rgb(77, 76, 76);
  box-shadow: 0px 0px 1px 1px #d1cfcf;
  padding: 1px 3px;
}
