.toolbar-item p {
  display: none;
  position: absolute;
  width: fit-content;
  z-index: 1;
  background-color: #444343;
  color: aliceblue;
  border: 1px solid #fff;
  box-shadow: 0px 0px 1px 1px #444343;
  padding: 4px;
  border-radius: 5px;
  top: -45px;
  left: 10px;
  font-size: 14px;
}
.toolbar-item:hover p {
  display: block;
  z-index: 1;
}
